/* box model */
*{
box-sizing: border-box;
}
/* margins of the whole page */
body{
  margin: 30px;
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
  /* padding: 5px; */
  font-size: 20px;
}
  /* style of a header */
.header{
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  background-image: url("office.png");
  /* opacity: 0.75; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  /* background-image: linear-gradient(white, black); */
}
  /* style of links */
.topnav{
  overflow: hidden;
  background-color: #333;
  padding: 20px;
  margin: 0px;
}
  /* links' style*/
.topnav a{
  float: left;
  /* display: block; */
  display: inline-block;
  text-align: center;
  padding: 10px 14px;
  color: #fff;
  text-decoration: none;
}
  /* changes color when you hover */
.topnav a:hover{
  background-color: #ddd;
  color: #000;
}
  /* sub body bg */
.row{
  background-color: #f1f1f1;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
  /* puts in 3 vertical columns */
.column{
  float: left;
  width: 32.5%;
  padding: 15px;
  margin-left: 10px;
}
  /* puts in 2 vertical columns */
div.col{
  float: left;
  width: 49%;
  padding: 15px;
  margin-left: 10px;
}
  /* puts in 2 vertical columns and hovering button over img*/
div.col-container{
  float: left;
  width: 49%;
  padding: 15px;
  margin-left: 10px;
}

.col-container {
  position: relative;
  /* width: 50%; */
}

img#image.rounded {
  opacity: 1;
  display: block;
  width: 50%;
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col-container:hover #image {
  opacity: 0.5;

}

.col-container:hover .middle {
  opacity: 1;
}

.btn {
  background-color: rgb(231, 102, 102);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border: solid 1px rgb(231, 102, 102);
  border-radius: .25rem;
  cursor: pointer;
}


  /* puts cards in 4 vertical columns */
div.col-materials{
  float: left;
  width: 25%;
  padding: 15px;
  /* margin-left: 15px; */
}
  /* responsive layout */
  @media screen and (max-width:500px;){
    .column, .col, .col-materials{
      width: 100%;
    }
  }
#subtitle{
  letter-spacing: 10px;
}

#first{
  /* font-family: monospace;
  color: yellow; */
}
#second.btn-custom-btn{
  align-self: flex;
  float: center;
}
#third{
  /* font-family: fantasy;
  color: red; */
}
h1#title{
font-family: 'Amatic SC', cursive;
font-weight: 700;
font-size: 100px;
color: rgb(231, 102, 102);
}
h2#subtitle{
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 50px;
  color: rgb(231, 102, 102);
  padding-top: 15px;
}
button.custom-btn {
    background-color: #f1f1f1;
    border-color: #333;
    color: #333;
    transition: 1s;
    /* align-content: center; */
    text-align: center;
    border: 1px solid #333;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    vertical-align: middle;
    display: flex;
  /* align-items: center; */
    margin: auto;
    font-size: 25px;

}
button.custom-btn:hover{
  background-color: #333;
  border-color: white;
  color: white;
  transition: 1s;
}
.callout{
  margin-top: 30px;
  margin-bottom: 30px;
}
ul#second li a, ul#first li a{
  font-size: 18px;
  text-decoration: none;
}
h1#thead{
  text-align: center;
}
.card{

  border: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -webkit-box-shadow -19px 19px 43px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
  box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
  width: 340px;
  height: 450px;
  flex: 1 1 auto;
  padding: 1.25rem;
  box-sizing: inherit;
  vertical-align: middle;
  display: block;
    }
  .card .card-title {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    color: #333;
  }
.card .card-text{
  color: #333;
  font-size: 18px;
  /* font-weight: 200; */
}

.card:hover{
  background-color: rgba(0,0,0,0.05);
  transition: 1s;
}
.container{
  margin-left: 20px;
}
.action{
  float: left;
  width: 49%;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
img.card-img {
  width: 100%;
}
img.rounded{
  width: 50%;
  border-radius: 50%;
  /* vertical-align: middle;
  display: block;
  align-items: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
